<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.fm.template" />

	<mvc:view-controller path="/home.html" view-name="home" />
	<mvc:view-controller path="/anonymous.html" view-name="anonymous" />
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
      			<value>classpath:strings</value>
      		</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="fileEncodings" value="UTF-8" />
	</bean>
	
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />
	
	<bean id="adminController" class="com.fm.template.controller.AdminController">
		<property name="userManager" ref="userManager" />
		<property name="controllerView" value="admin" />
	</bean>
	
	<bean id="adminFormController" class="com.fm.template.controller.AdminFormController">
		<property name="userManager" ref="userManager" />
		<property name="roleManager" ref="roleManager" />
		<property name="roleEditor" ref="roleEditor" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="formView" value="admin-user" />
		<property name="successView" value="redirect:/admin-user.html?id=" />
	</bean>
	
	<bean id="roleEditor" class="com.fm.template.editor.RoleEditor">
		<property name="roleDAO" ref="roleDAO" />
	</bean>
	
	<bean id="userFormController" class="com.fm.template.controller.UserFormController">
	<property name="userManager" ref="userManager" />
		<property name="roleManager" ref="roleManager" />
		<property name="roleEditor" ref="roleEditor" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="formView" value="user" />
		<property name="successView" value="redirect:/user.html" />
	</bean>
	
</beans>